html {
 font: normal 100%/1.5 Sigmar One;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
  margin: 0;
  text-align: center;
  background-color: #ffe500
}

h1 {
  margin: 0;
  font-size: 3rem;
  color: #b20953
}

.nav {
  margin: 0;
  padding: 0.75rem;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  font-family: 'Georgia', sans-serif;
}

.nav a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  border-radius: 0.75rem;
  padding: 0.75rem;
  background-color: #b2a212
}

.nav a:hover {
  background-color: #b20953
}

h2 {
  font-size: 1.875rem;
  text-align: left;
  background-color: #fff;
  color: #b20953
}

p {
  font-family: 'Georgia', serif;
}

footer {
  text-align: center;
  font-family: 'Georgia', serif;
  padding: 1.125rem;
  background-color: #ffe500

}
